:root {
    --text-active: #07c;
    --text-secondary: #555;
    --border-active: #07c;
    --border-secondary: #eee;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

@media (min-width: 769px) {
  .sidebar {
    grid-column: col-start / span 3;
    grid-row: 2;
  }
  .content {
    grid-column: col-start 4 / span 9;
  }
}

.sidebar {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            flex: auto;

            a {
                padding: 0.5rem 1rem;
                display: inline-block;
                text-decoration: none;
                border-left: 1px solid var(--border-secondary);
                color: var(--text-secondary);
            }

            a:hover {
                text-decoration: underline;
                color: var(--text-active);
            }

            a.active {
                font-weight: bold;
                border-left: 2px solid var(--border-active);
            }
        }
    }
}

header, footer {
    text-align: center;
    background-color: #eee;
}

figure {
    text-align: center;

    img {
        margin: 0 auto;
        max-width: 50%;
    }
}
